<p>Os valores recebidos até então foram de :</p>
<p></p>
{%for amp in data%}
    <li>{{amp}}</li>
    <li>.</li>
{% endfor %}
<h2>Visualizador do ECG</h2>

{% block content %}

<div id="container" style="width: 90%;">
    <canvas id="line"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'line',

      data: {
        datasets: [{
          data: {{ data|safe }},
          borderColor: ["#51cfcf"],
          fill: false,
          lineTension: 0 ,
          label:'Amplitude',
          pointHitRadius: 5 ,
          showLine: true,





        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true

      }
    };

    window.onload = function() {
      var ctx = document.getElementById('line').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>

{% endblock %}